
.vs/ADO.NETT/v16/Server/sqlite3/db.lock
.vs/ADO.NETT/v16/Server/sqlite3/storage.ide
.vs/ADO.NETT/v16/Server/sqlite3/storage.ide-shm
.vs/ADO.NETT/v16/Server/sqlite3/storage.ide-wal
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/ADO.NETT/v16/.suo
.vs/VSWorkspaceState.json
ADO.NETT/obj/Debug/ADO.NETT.csproj.CoreCompileInputs.cache
ADO.NETT/obj/Debug/ADO.NETT.csprojAssemblyReference.cache
ADO.NETT/obj/Release/ADO.NETT.csprojAssemblyReference.cache
ADO.NETT/obj/Debug/ADO.NETT.csproj.CoreCompileInputs.cache
ADO.NETT/obj/Debug/ADO.NETT.csprojAssemblyReference.cache
.vs/ProjectSettings.json
ADO.NETT/obj/Debug/ADO.NETT.csproj.CoreCompileInputs.cache
ADO.NETT/obj/Debug/ADO.NETT.csprojAssemblyReference.cache
