
.vs/ADO.NETT/v16/Server/sqlite3/db.lock
.vs/ADO.NETT/v16/Server/sqlite3/storage.ide
.vs/ADO.NETT/v16/Server/sqlite3/storage.ide-shm
.vs/ADO.NETT/v16/Server/sqlite3/storage.ide-wal
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/ADO.NETT/v16/.suo
.vs/VSWorkspaceState.json
